/* SPECIFIC*/

.contacted{
    text-decoration: line-through;
    color: red;
}
.users{
    text-align: center;
}

.top-bar {
    display: inline-block; width: 80%; margin:0 auto;
    border: 0px solid navy; text-align: center;
    background: navy; color: white; border-radius: 5px;
    margin-left: 75px
}


/* CLASS*/

.border {
    border-style: double;
    border-color: navy;
    border-width: 8px;
    text-align: center;
    background-color: navy;

}

.footer{text-align: center;
    color: navy;
}

.button { background: navy;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 36px;
    border-radius: 10px;
    text-shadow: 0 1px 1px white;
    width: 220px;
    height: 70px
}


/*  ID */



/* OTHER ELEMENTS */

[v-cloak]{
    display: none;
}

legend{text-align: center; background-color: navy; color: white;}

body{text-align: }

fieldset{border-bottom:2px dashed navy; border-left: 2px dashed navy; border-right:2px dashed navy; border-top:2px dashed navy;}

hr{position:relative;padding-top:12px;margin-top:2px;margin-bottom:5px;height:0;background:0 0;border:none;border-bottom:2px dashed navy}

h2{color: navy;
    text-decoration: underline;
    text-align: center;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    white-space: normal;
    list-style: disc;
    text-align: center;
    background: #cce5ff;
        margin: 5px;
}

/*li::before {
    content: "•";
    padding-right: 8px;
    color: navy;
}*/



/* FORM*/

form { margin:0 auto; padding:20px; background:navy;
    border-radius: 10px;
    width: 80%;
    border:25px;
    color:white;
}

/*TEXTAREA {
 background-color: #009999;
 color: #00FF00;
 font-family: garamond, tahoma, arial;
 font-weight: bold;
 }
*/
input[type=text], select {
    width: 50%;
    padding: 12px 0px;
    margin: 10px 0;
    margin-left:10px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    *display: inline; /* for IE7*/
    zoom:1; /* for IE7*/
    vertical-align:middle;
}

input[type=submit] {
    width: 25%;
    background-color: white;
    color: navy;
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-left:75%


}

input[type=submit]:hover {
    background-color: blue;
}
label {display:inline-block;
    *display: inline; /* for IE7*/
    zoom:1; /* for IE7*/
    float: left;
    padding: 12px 0px;
    margin: 10px 0px;
    text-align: left;
    width: 140px;
    color:white;

   
}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* LINKS*/

A:link {
    color: #0000FF;
    text-decoration: underline;
    background: transparent;
}
A:active {
    color: #FF0000;
    text-decoration: none;
    background: #FFFF00;
}
A:visited {
    color: #9900FF;
    text-decoration: line through;
    background: transparent;
}
A:hover {
    color: #FF0000;
    text-decoration: overline;
    background: transparent;
}






/* RESERVE

<BODY link=#0000FF alink=#FF0000 vlink=#9900FF>

